<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gmailsorter</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" action="/authorize">
					<span class="login100-form-title p-b-49">
						Gmailsorter
					</span>
						Welcome to Gmailsorter your automated email
						labeling solution for Google Mail. Starting from
						your existing email labels Gmailsorter calculates
						the similarity of incoming emails and then assigns
						email labels accordingly. So you no longer
						need to specify your email filters manually.
					<br />
					<br />
					<br />
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign in with Google
							</button>
						</div>
					</div>
					<br />
					<br />
						<b>Caution:</b> For mailsort to label your emails,
						it needs access to your Google Mail account. If you
						have existing email filters configured in Google
						Mail, disable them before signing in to Gmailsorter.
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

</body>
</html>
